@import "mixins";

$rockingRed:(
rr1:#ff8600,
rr2:#dc3545,
rr3:#AE1438
);

$beautifuleBlue:(
bb1:#007bff,
bb2:#2475B0,
bb3:#25CCF7
);

$golfGreen:(
gg1:#81b71a,
gg2:#13a774,
gg3:#45CE30
);

$freshYellow:(
fy1:#E1DA00,
fy2:#FBD28B,
fy3:#FFF222
);

$oldGrey:(
og1:#7B8788,
og2:#1f2024,
og3:#758AA2
);

@function rr($a){
  @return map-get($rockingRed,$a);
}

@function bb($a){
  @return map-get($beautifuleBlue,$a);
}

@function gg($a){
  @return map-get($golfGreen,$a);
}

@function fy($a){
  @return map-get($freshYellow,$a);
}

@function og($a){
  @return map-get($oldGrey,$a);
}

body{
  .nv{
    background-color: rr(rr1);
    border-bottom: 2.5px solid white;
  }
  header{
    .a{
      width:180px;
      height:180px;
    }
    h1{
      font-family: 'Satisfy', cursive;
      background:linear-gradient(#fc4a1a,#f7b733);
      -webkit-background-clip:text;
      color: transparent;
    }
  }
  section{
    h1{
      font-family: 'Oswald', sans-serif;
      background:linear-gradient(#c21500,#ffc500);
      -webkit-background-clip:text;
      color: transparent;
    }
    .fa-wrench{
      font-size: 4em;
      background:linear-gradient(#007991,#78ffd6);
      -webkit-background-clip:text;
      color: transparent;
    }
    .fa-podcast{
      font-size: 4em;
      background:linear-gradient(#40E0D0,#FF8C00,#FF0080);
      -webkit-background-clip:text;
      color: transparent;
    }
    .fa-line-chart{
      font-size: 4em;
      background:linear-gradient(#FF512F,#DD2476);
      -webkit-background-clip:text;
      color: transparent;
    }
    .card-title{
      font-family: 'Dancing Script', cursive;
      font-size: 1.6em;
    }
    .card-text{
      font-family: 'Catamaran', sans-serif;
    }
  }
}

@media (min-width:576px){
  body{

  }
}

@media (min-width:768px){
  body{

  }
}

@media (min-width:992px){
  body{

  }
}

@media (min-width:1200px){
  body{

  }
}
